*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url('download.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}   
.wind {
    background-image: url("umbrella.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.sunny {
    background-image: url("downloa.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.rain {
    background-image: url("Rain.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.snow {
    background-image: url("abetos.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.cloudy {
    background-image: url("download23.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.mist {
    background-image: url("fog.jpeg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.clear {
    background-image: url("Clouds.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}




.weather_container{
    color: black;
    
}
.temp{
    font-size: 4.5rem;
    padding: 2px;
}
.time_location{
    font-size: 2rem;
}
.condition{
    font-size: 2rem;
    margin: 0.5rem;
    margin-left: 0.2rem;
}
nav{
    height: 100px;
    margin: 5rem;
}

.search_area{
    padding: 1rem 0;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
}
nav form button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 80px;
    cursor: pointer;
}
